==
<?
// How to activate this form:
//
// - 1. Open Admin Panel → Settings → Team → Manage Groups
// - 2. Create a New Group → Set Code field to "contact-team"
// - 3. Select Users tab → Click Add Users
// - 4. Click Save
//
function onSubmitContactForm()
{
    // Validate the form
    // @see https://docs.octobercms.com/4.x/cms/features/validation.html
    //
    // - Argument 1 is the attributes and their rules
    // - Argument 2 is custom error messages for each attribute rule (translated)
    // - Argument 3 is custom names for each attribute (translated)
    //
    $data = Request::validate([
        'first_name' => 'required|min:2|max:64',
        'last_name' => 'max:64',
        'company' => 'required|max:128',
        'title' => 'max:128',
        'email' => 'required|email|min:2|max:64',
        'phone' => 'max:32',
        'comments' => 'required|min:5',
    ], [
        'comments' => ['required' => __("Please write something to us...")]
    ], [
        'first_name' => __("first name"),
        'company' => __("company"),
    ]);

    // Notify the 'contact-team' group with 'backend:contact-form' mail template
    //
    $group = \Backend\Models\UserGroup::where('code', 'contact-team')->first();
    if (!$group) {
        throw new ApplicationException(__("Sorry, this contact form is not enabled: We cannot receive emails at the moment, please try using another method."));
    }

    Mail::sendTo(
        $group->users->pluck('full_name', 'email')->all(),
        'backend:contact-form',
        $data
    );

    $this['isSubmit'] = true;
    $this['emailAddress'] = post('email');
}
?>
==
{% if isSubmit %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">
            {{ __("Thanks for getting in touch!") }}
        </h4>
        <p>
            {{ __("Please bear in mind we receive a lot of feedback, it may take several days to process and you may not receive a response.") }}
        </p>
        <p class="mb-0">
            {{ __("Not to worry though, we have your email") }} <strong>{{ emailAddress }}</strong>, {{ __("all feedback we receive will be read and action taken if needed.") }}
        </p>
    </div>
{% else %}
    <form
        class="row"
        data-request="onSubmitContactForm"
        data-request-update="{ _self: true }"
        data-request-flash>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="contactFirstName">
                {{ __("First Name") }}
                <span class="text-danger">
                    *
                </span>
            </label>
            <input type="text" id="contactFirstName" class="form-control" name="first_name" placeholder="{{ __("Enter your first name") }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="contactLastName">
                {{ __("Last Name") }}
            </label>
            <input type="text" id="contactLastName" class="form-control" name="last_name" placeholder="{{ __("Enter your last name") }}">
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label" for="contactCompany">
                {{ __("Company") }}
                <span class="text-danger">
                    *
                </span>
            </label>
            <input type="text" id="contactCompany" class="form-control" name="company" placeholder="{{ __("Your company") }}" required>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label" for="contactTitle">
                {{ __("Title") }}
            </label>
            <input type="text" id="contactTitle" class="form-control" name="title" placeholder="{{ __("Your title") }}">
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="contactEmail">
                {{ __("Email") }}
                <span class="text-danger">
                    *
                </span>
            </label>
            <input type="email" id="contactEmail" class="form-control" name="email" placeholder="{{ __("Enter your email") }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="contactPhone">
                {{ __("Phone") }}
            </label>
            <input type="text" id="contactPhone" class="form-control" name="phone" placeholder="{{ __("Your phone number") }}">
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label" for="contactComments">
                {{ __("Comments") }}
                <span class="text-danger">
                    *
                </span>
            </label>
            <textarea rows="3" id="contactComments" class="form-control" name="comments" placeholder="{{ __("Additional comments") }}"></textarea>
        </div>
        <div class="col-md-12">
            <button
                type="submit"
                data-attach-loading
                class="btn btn-primary">
                {{ __("Submit") }}
            </button>
        </div>
    </form>
{% endif %}
