[catalog]
==
<div class="element-footer">
    <div class="container">
        <!-- Link Columns -->
        <div class="row g-4 py-4">
            <!-- Categories -->
            <div class="col-12 col-lg-4">
                <h6 class="mb-4">
                    {{ 'Categories'|_ }}
                </h6>
                {% set categories = catalog.allCategories %}
                {% if categories %}
                    <div class="row">
                        {% set midpoint = (categories|length / 2)|round(0, 'ceil') %}
                        <div class="col-6">
                            <ul class="nav flex-column">
                                {% for category in categories|slice(0, midpoint) %}
                                    <li class="nav-item mb-2">
                                        <a href="{{ 'shop/category'|page({ fullslug: category.fullslug, baseid: category.baseid }) }}" class="nav-link">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="nav flex-column">
                                {% for category in categories|slice(midpoint) %}
                                    <li class="nav-item mb-2">
                                        <a href="{{ 'shop/category'|page({ fullslug: category.fullslug, baseid: category.baseid }) }}" class="nav-link">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Link Columns -->
            <div class="col-12 col-lg-8">
                <div class="row g-4">
                    <div class="col-6 col-md-3">
                        <h6 class="mb-4">
                            {{ 'Get to Know Us'|_ }}
                        </h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{{ 'index'|page }}" class="nav-link">
                                    {{ 'Home'|_ }}
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{{ 'shop/index'|page }}" class="nav-link">
                                    {{ 'Shop'|_ }}
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{{ 'contact'|page }}" class="nav-link">
                                    {{ 'Contact'|_ }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h6 class="mb-4">
                            {{ 'For Consumers'|_ }}
                        </h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{{ 'account/index'|page }}" class="nav-link">
                                    {{ 'Account'|_ }}
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{{ 'shop/cart'|page }}" class="nav-link">
                                    {{ 'Cart'|_ }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h6 class="mb-4">
                            {{ 'Company'|_ }}
                        </h6>
                        <ul class="nav flex-column">
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h6 class="mb-4">
                            {{ 'Resources'|_ }}
                        </h6>
                        <ul class="nav flex-column">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Partners & App Buttons -->
        <div class="border-top py-4">
            <div class="row align-items-center">
                <div class="col-lg-5 text-lg-start text-center mb-2 mb-lg-0">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item text-dark">
                            {{ 'Payment Partners'|_ }}
                        </li>
                        <li class="list-inline-item">
                            <img src="{{ 'assets/images/payment/amazonpay.svg'|theme }}" alt="Amazon Pay">
                        </li>
                        <li class="list-inline-item">
                            <img src="{{ 'assets/images/payment/american-express.svg'|theme }}" alt="American Express">
                        </li>
                        <li class="list-inline-item">
                            <img src="{{ 'assets/images/payment/mastercard.svg'|theme }}" alt="Mastercard">
                        </li>
                        <li class="list-inline-item">
                            <img src="{{ 'assets/images/payment/paypal.svg'|theme }}" alt="PayPal">
                        </li>
                        <li class="list-inline-item">
                            <img src="{{ 'assets/images/payment/visa.svg'|theme }}" alt="Visa">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 mt-4 mt-md-0">
                    <ul class="list-inline mb-0 text-lg-end text-center">
                        <li class="list-inline-item mb-2 mb-md-0 text-dark">
                            {{ 'Get deliveries with Meloncart'|_ }}
                        </li>
                        <li class="list-inline-item ms-4">
                            <a href="https://www.apple.com/store" target="_blank">
                                <img src="{{ 'assets/images/appbutton/appstore-btn.svg'|theme }}" alt="App Store" style="width: 140px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://play.google.com/" target="_blank">
                                <img src="{{ 'assets/images/appbutton/googleplay-btn.svg'|theme }}" alt="Google Play" style="width: 140px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright & Social -->
        <div class="border-top py-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <span class="small text-muted">
                        &copy; {{ "now"|date("Y") }} {{ 'Your Company Name'|_ }}. {{ 'All rights reserved.'|_ }}
                    </span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-md-end mb-0 small mt-3 mt-md-0">
                        <li class="list-inline-item text-muted">
                            {{ 'Follow us on'|_ }}
                        </li>
                        <li class="list-inline-item me-1">
                            <a href="https://facebook.com" target="_blank" class="btn btn-xs btn-social btn-icon">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item me-1">
                            <a href="https://twitter.com" target="_blank" class="btn btn-xs btn-social btn-icon">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com" target="_blank" class="btn btn-xs btn-social btn-icon">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% partial 'site/modals/alert-dialog' %}
{% partial 'site/modals/password-dialog' %}
{% partial 'site/modals/ajax-modal' %}
