{% set activeNavLink = activeNavLink|default(this.page.id) %}

<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'home' ? 'active' }}" href="{{ 'index'|page }}">
        {{ 'Home'|_ }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'shop' ? 'active' }}" href="{{ 'shop/index'|page }}">
        {{ 'Shop'|_ }}
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {{ activeNavLink == 'account' ? 'active' }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ 'Account'|_ }}
    </a>
    {% if session.user %}
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ 'account/index'|page }}">
                    {{ 'Profile Details'|_ }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/orders'|page }}">
                    {{ 'My Orders'|_ }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/addresses'|page }}">
                    {{ 'My Addresses'|_ }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/security'|page }}">
                    {{ 'Account Security'|_ }}
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href="#" data-request="onLogout">
                    {{ 'Logout'|_ }}
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ 'account/login'|page }}">
                    {{ 'Sign In'|_ }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/register'|page }}">
                    {{ 'Register'|_ }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/password'|page }}">
                    {{ 'Forgot Password'|_ }}
                </a>
            </li>
        </ul>
    {% endif %}
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'contact' ? 'active' }}" href="{{ 'contact'|page }}">
        {{ 'Contact'|_ }}
    </a>
</li>
