{% set activeNavLink = activeNavLink|default(this.page.id) %}

<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'home' ? 'active' }}" href="{{ 'index'|page }}">
        {{ __("Home") }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'shop' ? 'active' }}" href="{{ 'shop/index'|page }}">
        {{ __("Shop") }}
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {{ activeNavLink == 'account' ? 'active' }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ __("Account") }}
    </a>
    {% if session.user %}
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ 'account/index'|page }}">
                    {{ __("Profile Details") }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/orders'|page }}">
                    {{ __("My Orders") }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/addresses'|page }}">
                    {{ __("My Addresses") }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/security'|page }}">
                    {{ __("Account Security") }}
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href="#" data-request="onLogout">
                    {{ __("Logout") }}
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ 'account/login'|page }}">
                    {{ __("Sign In") }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/register'|page }}">
                    {{ __("Register") }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ 'account/password'|page }}">
                    {{ __("Forgot Password") }}
                </a>
            </li>
        </ul>
    {% endif %}
</li>
<li class="nav-item">
    <a class="nav-link {{ activeNavLink == 'contact' ? 'active' }}" href="{{ 'contact'|page }}">
        {{ __("Contact") }}
    </a>
</li>
