{% set collapseClass = 'name-collapse' %}
<form
    method="post"
    class="account-editor"
    data-request="onUpdateProfile"
    data-request-update="{ _self: true }"
    data-request-flash>

    <input type="hidden" name="message" value="false" />

    <div class="section-title border-bottom d-flex">
        <h5 class="h4 flex-grow-1">{{ __("Name") }}</h5>
        <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            data-bs-toggle="collapse"
            data-bs-target=".{{ collapseClass }}">
            {{ __("Edit") }}
        </button>
    </div>

    <div class="editor-view collapse show {{ collapseClass }}">
        <div class="d-flex">
            <label class="text-success flex-grow-1">{{ __("Your real name") }}</label>
            <div class="field-value">
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </div>
    </div>

    <div class="editor-edit collapse {{ collapseClass }}">
        <div class="row">
            <div class="col-6">
                <input
                    name="first_name"
                    type="text"
                    value="{{ user.first_name }}"
                    class="form-control"
                    placeholder="{{ __("First name") }}"
                />
            </div>
            <div class="col-6">
                <input
                    name="last_name"
                    type="text"
                    value="{{ user.last_name }}"
                    class="form-control"
                    placeholder="{{ __("Last name") }}"
                />
            </div>
        </div>
        <div class="section-actions">
            <button
                class="btn btn-primary"
                data-attach-loading
                type="submit">
                {{ __("Save") }}
            </button>
            <button
                class="btn btn-link"
                data-bs-toggle="collapse"
                data-bs-target=".{{ collapseClass }}"
                type="reset">
                {{ __("Cancel") }}
            </button>
        </div>
    </div>
</form>
