{% set collapseClass = 'email-collapse' %}
<form
    method="post"
    class="account-editor"
    data-request="onUpdateProfile"
    data-request-update="{ _self: true }"
    data-request-flash>

    <input type="hidden" name="message" value="false" />

    <div class="section-title border-bottom d-flex">
        <h5 class="h4 flex-grow-1">{{ __("Email") }}</h5>
        <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            data-bs-toggle="collapse"
            data-bs-target=".{{ collapseClass }}">
            {{ __("Edit") }}
        </button>
    </div>

    <div class="editor-view collapse show {{ collapseClass }}">
        <div class="d-flex">
            <label class="text-success flex-grow-1">{{ __("Your email address") }}</label>
            <div class="field-value">
                {{ user.email }}
            </div>
        </div>
        <div class="d-flex">
            <label class="text-success flex-grow-1">{{ __("Status") }}</label>
            <div class="field-value">
                {% if showLinkSent %}
                    {{ __("Pending") }}
                {% else %}
                    {{ user.hasVerifiedEmail ? __("Verified") : __("Unverified") }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="editor-edit collapse {{ collapseClass }}">
        <div class="row">
            <div class="col-12">
                <input
                    name="email"
                    type="email"
                    value="{{ user.email }}"
                    class="form-control"
                    placeholder="{{ __("Email address") }}"
                />
            </div>
        </div>
        <div class="section-actions">
            <button
                class="btn btn-primary"
                data-attach-loading
                type="submit">
                {{ __("Save") }}
            </button>
            {% if not user.hasVerifiedEmail %}
                <button
                    class="btn btn-secondary"
                    data-attach-loading
                    data-request="onVerifyEmail"
                    data-request-update="{ _self: true }"
                    data-request-data="{ message: null }"
                    data-request-flash
                    type="button">
                    {{ __("Verify Email") }}
                </button>
            {% endif %}
            <button
                class="btn btn-link"
                data-bs-toggle="collapse"
                data-bs-target=".{{ collapseClass }}"
                type="reset">
                {{ __("Cancel") }}
            </button>
        </div>
    </div>
</form>
