##
url = "/account/login"
layout = "default"
title = "Account Login"
meta_title = "Login"

[authentication]
rememberMe = "always"

[session]
security = "guest"
redirect = "account/index"

[resources]
css[] = "pages/account.css"
vars[activeNavLink] = 'account'
==
{% put meta %}
    <meta name="turbo-cache-control" content="no-cache">
{% endput %}
<div class="page-account">
    <div class="py-5">
        <main class="form-login m-auto">

            {% if authentication.showLoginForm %}
                <div class="collapse show login-collapse">
                    {% partial 'account/login-form' %}

                    <div class="text-center">
                        <p class="mt-5 mb-1 text-body-secondary">
                            {{ __("New user?") }}
                            <a href="{{ 'account/register'|page }}">
                                {{ __("Create a new account") }}
                            </a>
                        </p>

                        {% if authentication.usePasswordRecovery %}
                            <p class="mt-1 mb-3 text-body-secondary">
                                {{ __("Lost password?") }}
                                <a
                                    href="#"
                                    data-bs-toggle="collapse"
                                    data-bs-target=".login-collapse">
                                    {{ __("Recover password") }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if authentication.usePasswordRecovery %}
                <div class="collapse login-collapse">
                    {% partial 'account/login-recovery-form' %}

                    <div class="text-center">
                        <p class="mt-5 mb-3 text-body-secondary">
                            {{ __("Remembered your password?") }}
                            <a
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target=".login-collapse">
                                {{ __("Sign in again") }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endif %}

            {% if authentication.showTwoFactorChallenge %}
                {% partial 'account/login-two-factor-form' %}
            {% endif %}
        </main>
    </div>
</div>
