<table class="add-to-cart-control">
    <tbody>
        <tr>
            <td>
                {% set item = (variant is defined and variant) ? variant : product %}
                <span class="product-price">
                    {{ item.final_sale_price|currency }}
                </span>
            </td>
            <td class="cart-symbol">x</td>
            <td class="quantity-controls">
                {% partial 'ui/quantity-input' name='product_cart_quantity' value=post('product_cart_quantity', 1) %}
            </td>
            <td class="add-button">
                <button
                    data-request="onAddToCart"
                    data-request-update="{ 'shop-checkout/mini-cart': '#miniCart' }"
                    data-request-flash
                    class="btn btn-primary">
                    Add to Cart
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Price</td>
            <td colspan="2">Quantity</td>
        </tr>
    </tfoot>
</table>
