{% if bundleProduct.extras is not empty %}
    {% set controlName = 'bundle_items[' ~ bundleItem.id ~ '][extras][' ~ itemProduct.id ~ ']' %}
    <div class="bundle-product-extras mb-2">
        {% for extra in bundleProduct.all_extras %}
            {% set extraId = 'bundleExtra' ~ bundleItem.id ~ '_' ~ itemProduct.id ~ '_' ~ extra.hash %}
            <div class="form-check">
                <input
                    type="checkbox"
                    name="{{ controlName }}[{{ extra.hash }}]"
                    value="1"
                    id="{{ extraId }}"
                    class="form-check-input"
                    {{ post('bundle_items.' ~ bundleItem.id ~ '.extras.' ~ itemProduct.id ~ '.' ~ extra.hash) ? 'checked' }} />
                <label class="form-check-label small" for="{{ extraId }}">
                    {{ extra.description }}
                    {% if extra.display_price > 0 %}
                        <span class="text-success ms-1">+{{ extra.display_price|currency }}</span>
                    {% else %}
                        <span class="text-success ms-1">{{ 'FREE'|_ }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}
