{% if bundleProduct.all_options is not empty %}
    {% set controlName = 'bundle_items[' ~ bundleItem.id ~ '][options][' ~ itemProduct.id ~ ']' %}
    <div class="bundle-product-options mb-2">
        {% for option in bundleProduct.all_options %}
            <div class="row align-items-center mb-1">
                <div class="col-4">
                    <span class="small fw-bold">{{ option.name }}</span>
                </div>
                <div class="col-8">
                    <select
                        name="{{ controlName }}[{{ option.hash }}]"
                        class="form-select form-select-sm"
                        data-request="catalog::onRefreshCatalog"
                        data-request-update="{ 'shop-product/bundle': '#productBundleItems' }">
                        {% for value in option.values %}
                            <option
                                value="{{ value }}"
                                {{ post('bundle_items.' ~ bundleItem.id ~ '.options.' ~ itemProduct.id ~ '.' ~ option.hash) == value ? 'selected' }}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
