{% if category %}
    {% set priceRange = category.priceRange() %}
{% else %}
    {% set priceRange = catalog.priceRange() %}
{% endif %}
{% set cur = currency() %}
{% if priceRange.max > priceRange.min %}
    <div
        data-control="price-slider"
        data-min="{{ priceRange.min }}"
        data-max="{{ priceRange.max }}"
        data-decimal-scale="{{ cur.decimal_scale }}"
        data-currency-symbol="{{ cur.currency_symbol }}"
        data-symbol-before="{{ cur.place_symbol_before ? 'true' : 'false' }}"
        data-thousand-separator="{{ cur.thousand_separator }}"
        class="mb-8"
    >
        <h5 class="mb-3">
            Price
        </h5>
        <div>
            <div data-price-range-slider class="mb-3"></div>
            <small class="text-muted">
                Price:
            </small>
            <span data-price-range-text class="small"></span>
            <input type="hidden" data-filter-price-min value="{{ priceRange.min }}">
            <input type="hidden" data-filter-price-max value="{{ priceRange.max }}">
        </div>
    </div>
{% endif %}
