<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row align-items-center">
            <div class="col-7">
                <span>{{ __("Product") }}</span>
            </div>
            <div class="col-3 text-center">
                <span>{{ __("Quantity") }}</span>
            </div>
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                <span>{{ __("Total") }}</span>
            </div>
        </div>
    </li>
    {% for item in items %}
        {% set product = item.product %}
        {% set isBundleChild = item.isBundleItem() %}
        <li class="list-group-item py-3 py-lg-0 border-top {{ isBundleChild ? 'bundle-child-item' }}">
            <div class="row align-items-center py-3">
                <div class="col-3 col-md-2">
                    <a href="{{ product.pageUrl('shop/product') }}">
                        {% if product.images is empty %}
                            <img src="{{ 'assets/images/default-post.png'|theme }}" height="{{ isBundleChild ? 60 : 100 }}" />
                        {% else %}
                            <img class="img-fluid" src="{{ product.images.first|resize(0, isBundleChild ? 60 : 100, { mode: 'auto' }) }}" alt="{{ product.name }}" />
                        {% endif %}
                    </a>
                </div>
                <div class="col-4 col-md-5">
                    {% if isBundleChild and item.bundle_master_bundle_item_name %}
                        <span class="text-muted small"><em>{{ item.bundle_master_bundle_item_name }}</em></span><br />
                    {% endif %}
                    <a href="{{ product.pageUrl('shop/product') }}" class="text-inherit">
                        <h5 class="mb-2">{{ product.name }}</h5>
                    </a>
                    {% if item.variant_id %}
                        <span class="text-muted small">{{ item.variant.name }}</span><br />
                    {% endif %}

                    <span class="text-success small">{{ item.display_price|currency }}</span>
                    {% if item.on_sale %}
                        <span class="text-decoration-line-through text-muted small">{{ item.compare_price|currency }}</span>
                    {% endif %}
                </div>
                <div class="col-3 text-center">
                    {{ item.quantity }}
                </div>
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                    <span>{{ item.display_line_price|currency }}</span>
                </div>
            </div>
        </li>
    {% endfor %}
    <li class="list-group-item py-3 border-top">
        <div class="row align-items-center">
            <div class="col-8 text-end">
                <span>{{ __("Subtotal") }}</span>
            </div>
            <div class="col-4 text-lg-end text-start text-md-end">
                <span class="fw-bold fs-5">{{ order.total|currency({ format: 'long' }) }}</span>
            </div>
        </div>
    </li>
    {% if order.credit_applied > 0 %}
        <li class="list-group-item py-3">
            <div class="row align-items-center">
                <div class="col-8 text-end">
                    <span class="text-success">
                        {{ __("Store credit applied") }}
                    </span>
                </div>
                <div class="col-4 text-lg-end text-start text-md-end">
                    <span class="text-success">
                        -{{ order.credit_applied|currency({ format: 'long' }) }}
                    </span>
                </div>
            </div>
        </li>
        <li class="list-group-item py-3">
            <div class="row align-items-center">
                <div class="col-8 text-end">
                    <span class="fw-bold">
                        {{ __("Amount due") }}
                    </span>
                </div>
                <div class="col-4 text-lg-end text-start text-md-end">
                    <span class="fw-bold fs-5">
                        {{ order.amount_due|currency({ format: 'long' }) }}
                    </span>
                </div>
            </div>
        </li>
    {% endif %}
</ul>
