<ul class="list-group list-group-flush">
    {% for item in items %}
        {% set product = item.product %}
        {% set images = product.images %}
        {% set isBundleChild = item.isBundleItem() %}
        <li class="list-group-item px-4 py-3 {{ isBundleChild ? 'bundle-child-item' }}">
            <div class="row align-items-center">
                <div class="col-3">
                    <div class="position-relative">
                        {% if images is empty %}
                            <img class="img-fluid" src="{{ 'assets/images/default-post.png'|theme }}" height="{{ isBundleChild ? 60 : 100 }}" />
                        {% else %}
                            <img class="img-fluid" src="{{ images.first|resize(0, isBundleChild ? 60 : 100, { mode: 'auto' }) }}" alt="{{ product.name }}" />
                        {% endif %}
                        <span class="translate-middle badge rounded-pill bg-secondary position-absolute top-0 start-100 fw-normal">
                            {{ item.quantity }}
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    {% if isBundleChild and item.bundle_master_bundle_item_name %}
                        <span class="text-muted small"><em>{{ item.bundle_master_bundle_item_name }}</em></span><br />
                    {% endif %}
                    <h5 class="mb-1">
                        {{ product.name }}
                    </h5>
                    {% if item.variant_id %}
                        <span class="text-muted small">{{ item.variant.name }}</span><br />
                    {% endif %}
                    <div class="small">
                        {% for option in item.options %}
                            {{ option.name }}: {{ option.value }}{{ not loop.last ? ', ' : '<br />' }}
                        {% endfor %}

                        {% for extra in item.extras %}
                            + {{ extra.description }}<br />
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3 text-end small">
                    <span>
                        {{ item.display_line_price|currency }}
                    </span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% if not hideCoupon %}
    <div class="card mb-3">
        <div class="card-body py-2">
            {% if couponCode %}
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <i class="bi bi-tag-fill text-success"></i>
                        <span class="fw-semibold">
                            {{ couponCode }}
                        </span>
                    </div>
                    <a
                        href="#"
                        data-request="onRemoveCoupon"
                        data-request-update="{ 'shop-checkout/order-summary': '#shopCheckoutOrderSummary' }"
                        data-attach-loading
                        class="btn btn-sm btn-link text-danger p-0">
                        {{ 'Remove'|_ }}
                    </a>
                </div>
            {% else %}
                <form>
                    <div class="input-group input-group-sm">
                        <input
                            type="text"
                            name="coupon"
                            class="form-control"
                            placeholder="{{ 'Coupon code'|_ }}" />
                        <button
                            type="submit"
                            data-request="onApplyCoupon"
                            data-request-update="{ 'shop-checkout/order-summary': '#shopCheckoutOrderSummary' }"
                            data-attach-loading
                            data-request-flash
                            class="btn btn-outline-secondary">
                            {{ 'Apply'|_ }}
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between small">
            <div class="me-auto">
                <div>
                    {{ 'Subtotal'|_ }}
                </div>
            </div>
            <span>
                {{ order.final_subtotal|currency }}
            </span>
        </li>
        {% if order.discount %}
            <li class="list-group-item d-flex justify-content-between small text-success">
                <div class="me-auto">
                    <div>
                        {{ 'Discount'|_ }}
                    </div>
                </div>
                <span>
                    -{{ order.final_discount|currency }}
                </span>
            </li>
        {% endif %}
        <li class="list-group-item d-flex justify-content-between align-items-center small">
            <div class="me-auto">
                <div>
                    {{ 'Shipping'|_ }}
                </div>
            </div>
            {% if not hasShippingAddress %}
                <small class="text-muted">{{ 'Enter address'|_ }}</small>
            {% elseif not hasShippingQuote %}
                <small class="text-muted">{{ 'Select shipping'|_ }}</small>
            {% else %}
                <span>{{ order.final_shipping_quote|currency }}</span>
            {% endif %}
        </li>
        {% if order.credit_applied > 0 %}
            <li class="list-group-item d-flex justify-content-between small text-success">
                <div class="me-auto">
                    <div>
                        {{ 'Store credit applied'|_ }}
                    </div>
                </div>
                <span>
                    -{{ order.credit_applied|currency }}
                </span>
            </li>
        {% endif %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="me-auto">
                <div class="fw-bold">
                    {{ 'Total'|_ }}
                </div>
            </div>
            <span class="fw-bold fs-5">
                {{ order.amount_due|currency }}
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between small">
            <small>{{ 'Includes'|_ }} {{ order.total_tax|currency }} {{ 'in taxes'|_ }}</small>
        </li>
    </ul>
</div>
