<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="{{ 'shop/index'|page }}">
                {{ 'Home'|_ }}
            </a>
        </li>
        {% if searchTerm %}
            <li class="breadcrumb-item">
                <a href="{{ 'shop/index'|page }}">
                    {{ 'Shop'|_ }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ 'Search:'|_ }} {{ searchTerm }}
            </li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ 'Shop'|_ }}
            </li>
        {% endif %}
    </ol>
</nav>
