<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="{{ 'shop/index'|page }}">
                {{ __("Home") }}
            </a>
        </li>
        {% if searchTerm %}
            <li class="breadcrumb-item">
                <a href="{{ 'shop/index'|page }}">
                    {{ __("Shop") }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ __("Search:") }} {{ searchTerm }}
            </li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ __("Shop") }}
            </li>
        {% endif %}
    </ol>
</nav>
