<div data-control="card-slider" class="control-card-slider hero-slider">
    <div class="slide-item" style="background: url('{{ 'assets/images/slider/slide-1.jpg'|theme }}') no-repeat; background-size: cover; border-radius: .5rem; background-position: center;">
        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8">
            <span class="badge text-bg-warning">
                {{ __("Opening Sale Discount 50%") }}
            </span>
            <h2 class="text-dark display-5 fw-bold mt-4">
                {{ __("Meloncart For Fresh Groceries") }}
            </h2>
            <p class="lead">
                {{ __("Introducing a new model for online grocery shopping and convenient home delivery.") }}
            </p>
            <a href="{{ 'shop/index'|page }}" class="btn btn-dark mt-3">
                {{ __("Shop Now") }} <i class="bi bi-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
    <div class="slide-item" style="background: url('{{ 'assets/images/slider/slider-2.jpg'|theme }}') no-repeat; background-size: cover; border-radius: .5rem; background-position: center;">
        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8">
            <span class="badge text-bg-warning">
                {{ __("Free Shipping - orders over $100") }}
            </span>
            <h2 class="text-dark display-5 fw-bold mt-4">
                {{ __("Free Shipping on") }} <br>{{ __("Orders Over") }} <span class="text-primary">$100</span>
            </h2>
            <p class="lead">
                {{ __("Free Shipping to First-Time Customers Only, after promotions and discounts are applied.") }}
            </p>
            <a href="{{ 'shop/index'|page }}" class="btn btn-dark mt-3">
                {{ __("Shop Now") }} <i class="bi bi-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
</div>
