<div data-control="card-slider" class="control-card-slider hero-slider">
    <div class="slide-item" style="background: url('{{ 'assets/images/slider/slide-1.jpg'|theme }}') no-repeat; background-size: cover; border-radius: .5rem; background-position: center;">
        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8">
            <span class="badge text-bg-warning">
                {{ 'Opening Sale Discount 50%'|_ }}
            </span>
            <h2 class="text-dark display-5 fw-bold mt-4">
                {{ 'Meloncart For Fresh Groceries'|_ }}
            </h2>
            <p class="lead">
                {{ 'Introducing a new model for online grocery shopping and convenient home delivery.'|_ }}
            </p>
            <a href="{{ 'shop/index'|page }}" class="btn btn-dark mt-3">
                {{ 'Shop Now'|_ }} <i class="bi bi-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
    <div class="slide-item" style="background: url('{{ 'assets/images/slider/slider-2.jpg'|theme }}') no-repeat; background-size: cover; border-radius: .5rem; background-position: center;">
        <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8">
            <span class="badge text-bg-warning">
                {{ 'Free Shipping - orders over $100'|_ }}
            </span>
            <h2 class="text-dark display-5 fw-bold mt-4">
                {{ 'Free Shipping on'|_ }} <br>{{ 'Orders Over'|_ }} <span class="text-primary">$100</span>
            </h2>
            <p class="lead">
                {{ 'Free Shipping to First-Time Customers Only, after promotions and discounts are applied.'|_ }}
            </p>
            <a href="{{ 'shop/index'|page }}" class="btn btn-dark mt-3">
                {{ 'Shop Now'|_ }} <i class="bi bi-arrow-right ms-1"></i>
            </a>
        </div>
    </div>
</div>
