<div class="row">
    <div class="col-12 col-md-6 mb-3 mb-lg-0">
        <div class="py-10 px-8 rounded" style="background: url({{ 'assets/images/banner/grocery-banner.png'|theme }}) no-repeat; background-size: cover; background-position: center;">
            <div>
                <h3 class="fw-bold mb-1">
                    {{ 'Fruits & Vegetables'|_ }}
                </h3>
                <p class="mb-4">
                    {{ 'Get Up to'|_ }} <span class="fw-bold">30%</span> {{ 'Off'|_ }}
                </p>
                <a href="{{ 'shop/index'|page }}" class="btn btn-dark">
                    {{ 'Shop Now'|_ }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="py-10 px-8 rounded" style="background: url({{ 'assets/images/banner/grocery-banner-2.jpg'|theme }}) no-repeat; background-size: cover; background-position: center;">
            <div>
                <h3 class="fw-bold mb-1">
                    {{ 'Freshly Baked Buns'|_ }}
                </h3>
                <p class="mb-4">
                    {{ 'Get Up to'|_ }} <span class="fw-bold">25%</span> {{ 'Off'|_ }}
                </p>
                <a href="{{ 'shop/index'|page }}" class="btn btn-dark">
                    {{ 'Shop Now'|_ }}
                </a>
            </div>
        </div>
    </div>
</div>
