<div class="row">
    <div class="col-12 col-md-6 mb-3 mb-lg-0">
        <div class="py-10 px-8 rounded" style="background: url({{ 'assets/images/banner/grocery-banner.png'|theme }}) no-repeat; background-size: cover; background-position: center;">
            <div>
                <h3 class="fw-bold mb-1">
                    {{ __("Fruits & Vegetables") }}
                </h3>
                <p class="mb-4">
                    {{ __("Get Up to") }} <span class="fw-bold">30%</span> {{ __("Off") }}
                </p>
                <a href="{{ 'shop/index'|page }}" class="btn btn-dark">
                    {{ __("Shop Now") }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="py-10 px-8 rounded" style="background: url({{ 'assets/images/banner/grocery-banner-2.jpg'|theme }}) no-repeat; background-size: cover; background-position: center;">
            <div>
                <h3 class="fw-bold mb-1">
                    {{ __("Freshly Baked Buns") }}
                </h3>
                <p class="mb-4">
                    {{ __("Get Up to") }} <span class="fw-bold">25%</span> {{ __("Off") }}
                </p>
                <a href="{{ 'shop/index'|page }}" class="btn btn-dark">
                    {{ __("Shop Now") }}
                </a>
            </div>
        </div>
    </div>
</div>
